{{define "title"}}{{.Title}}{{end}}


{{define "content"}}
<h1 class="hello_admin">Bonjour, Admin</h1>
<table class="table" border="1">
    <thead>
        <tr>
            <th>ID</td>
            <th>Image</th>
            <th>Bike Type</th>
            <th>Size</th>
            <th>Motor Type</th>
            <th>Battery</th>
            <th>Speed</th>
            <th>Autonomy</th>
            <th>Status</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{range .Bike}}
        
        <tr>
            <td>{{.ID}}</td>
            <td><img src="{{.ImagePath}}" alt="Bike Image" width="100"></td>
            <td>{{.BikeType}}</td>
            <td>{{.Size}}</td>
            <td>{{.MotorType}}</td>
            <td>{{.Battery}} W</td>
            <td>{{.Speed}} KM/H</td>
            <td>{{.Autonomy}} KM</td>
            <td>
            <form id="form" action="/update-status" method="POST">
                <input type="hidden" name="bike_id" value="{{.ID}}">
                <select name="status" id="status" onchange="this.form.submit()">
                    <option value="disponible" {{if eq .Status "disponible"}}selected{{end}}>Disponible</option>
                    <option value="loue" {{if eq .Status "loue"}}selected{{end}}>Loué</option>
                    <option value="indisponible" {{if eq .Status "indisponible"}}selected{{end}}>Indisponible</option>
                </select>
            </form>
            </td>
            <td>{{.Price}}€</td>
            <form action="/delete" method="post">
                <input type="hidden" name="fildPath" name="fildPath" value="{{.ImagePath}}">
                <input type="hidden" name="bike_id" value="{{.ID}}">
                <td> <button type="submit" name="delete" value="delete">✘</button>
            </form>    
        </tr>
    
        {{end}}
    </tbody>
</table>
    <h2>Ajouter un nouveau vélo</h2>
<form class="table2" action="/upload" method="post" enctype="multipart/form-data">
    <table  border="1">
        <thead>
            <tr>
                <th>Image</th>
                <th>Bike Type</th>
                <th>Size</th>
                <th>Motor Type</th>
                <th>Battery</th>
                <th>Speed</th>
                <th>Autonomy</th>
                <th>Status</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label for="file-upload">Choisir un fichier :</label>
                    <input type="file" id="file-upload" name="file" accept="image/*" required>
                </td>
                <td>
                    <select name="bike_type" required>
                        <option value="vtt">VTT</option>
                        <option value="vtc">Vélo de ville</option>
                        <option value="cargo">Cargo</option>
                        <option value="route">Vélo de route</option>
                    </select>
                </td>
                <td>
                    <select name="size" required>
                        <option value="26">26"</option>
                        <option value="27.5">27,5"</option>
                        <option value="29">29"</option>
                    </select>
                </td>
                <td>
                    <select name="motor_type" required>
                        <option value="pedalier">Pédalier</option>
                        <option value="roue">Roue</option>
                    </select>
                </td>
                <td>
                    <select name="battery" required>
                        <option value="250">250 W</option>
                        <option value="500">500 W</option>
                        <option value="750">750 W</option>
                        <option value="1000">1000 W</option>
                        <option value="1200">1200 W</option>
                        <option value="1500">1500 W</option>
                    </select>
                </td>
                <td>
                    <select name="speed" required>
                        <option value="25">25 KM/H</option>
                        <option value="30">30 KM/H</option>
                    </select>
                </td>
                <td>
                    <select name="autonomy" required>
                        <option value="25">25 KM</option>
                        <option value="30">30 KM</option>
                        <option value="45">45 KM</option>
                        <option value="50">50 KM</option>
                    </select>
                </td>
                <td>
                    <select name="status" required>
                        <option value="disponible">Disponible</option>
                        <option value="loue">Loué</option>
                    </select>
                </td>
                <td>
                    <input name="price" type="textbox" value="" required>€  
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit">Envoyer</button>
</form>
{{end}}