{{ define "title" }}Bike list{{ end }}

{{ define "content" }}
    <div class="card-container">
        {{ range .Bike }}
            <div class="card">
                <div class="front">
                    <img src="{{.ImagePath}}" alt="Image of {{.BikeType}}">
                    <h1>{{.BikeType}}</h1>
                </div>
                <div class="back">
                    <h1>Caractéristiques</h1>
                    <ul>
                        <li><strong>Type :</strong> {{.BikeType}} </li>
                        <li><strong>Taille :</strong> {{.Size}}</li>
                        <li><strong>Type moteur :</strong> {{.MotorType}}</li>
                        <li><strong>Batterie :</strong> {{.Battery}}</li>
                        <li><strong>Vitesse :</strong> {{.Speed}}</li>
                        <li><strong>Autonomie :</strong> {{.Autonomy}}</li>
                        <li><strong>Prix :</strong> {{.Price}} €/h</li>
                    </ul>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
