{{ define "title" }}Bike list{{ end }} {{ define "content" }}

<div class="input-search">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M10 2a8 8 0 0 1 5.3 14.3l5.4 5.4-1.4 1.4-5.4-5.4A8 8 0 1 1 10 2zm0 2a6 6 0 1 0 4.2 10.2A6 6 0 0 0 10 4z"
    />
  </svg>
  <input
    id="searchInput"
    type="text"
    class="placeholder"
    placeholder="type,size,motor"
    oninput="searchItems()"
  />
 
</div>
<div class="card-container">
  {{ range .Bike }}
  <a href="/bike-detail/{{.ID}}">
    <div class="card">
      <div class="front">
        <img src="{{.ImagePath}}" alt="Image of {{.BikeType}}" />
        <span>{{.Status}}</span>
      </div>
      <div class="back">
        <h1>Caractéristiques</h1>
        <ul>
          <li><strong>Type :</strong> {{.BikeType}}</li>
          <li><strong>Taille :</strong> {{.Size}}"</li>
          <li><strong>Type moteur :</strong> {{.MotorType}}</li>
          <li><strong>Batterie :</strong> {{.Battery}}W</li>
          <li><strong>Vitesse :</strong> {{.Speed}} KM/H</li>
          <li><strong>Autonomie :</strong> {{.Autonomy}} KM</li>
          <li><strong>Prix :</strong> {{.Price}}€/jour</li>
        </ul>
      </div>
    </div>
  </a>
  {{ end }}
</div>

{{ end }}
