{{ define "title" }}Bike list{{ end }}

{{define "content"}}
    <div class="card">
        <div class="front">
            <img src ="https://avatars.githubusercontent.com/u/175028485?v=4" alt="">
            <h1>RAfta</h>
        </div>
        <div class="back">
            <h1>Caractéristiques</h1>
            <ul>
                <li><strong>Type :</strong> VTT électrique</li>
                <li><strong>Taille :</strong> 27,5 pouces</li>
                <li><strong>Type moteur :</strong>Pedalier</li>
                <li><strong>Batterie :</strong> 500 Wh</li>
                <li><strong>Vitesse :</strong> 25 km/h</li>
            </ul>
        </div>
    </div>
    
    
{{end}}


    