{{define "title"}}{{.Title}}{{end}}

{{define "content"}}
<body>
    <main>
        <h2>Votre Panier</h2>
        
        <section class="panier">
            <table class="table-panier">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Disponibilité</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                {{range .Session.BikeShop}}
                <tbody>
                    
                    <tr>
                        <td>
                            <div class="article-info">
                                <img src="{{.ImagePath}}" alt="Produit 1" class="image-produit">
                                <p class="nom-produit">{{.BikeType}} - Taille: {{.Size}} ", bleu</p>
                            </div>
                        </td>
                        <td class="disponibilite">{{.Status}}</td>
                        <td class="prix">{{.Price}}€</td>
                        <td>
                            <form action= "/add-sub" method="POST"> 
                                <div class="quantite">
                                        <input type="hidden" name="bike_id" value="{{.BikeID}}">
                                        <button name="action" value="sub" class="moins">-</button>
                                            <input name="total" type="textbox" value="{{.Total}}" min="1" class="input-quantite">
                                        <button name="action" value="add" class="plus">+</button>
                                </div>
                            </form>
                        </td>
                        <td class="total">{{.TotalPrice}} €</td>
                    </tr>
                </tbody>
                {{end}}
            </table>
            
            <!-- Total et actions -->
            <div class="total-actions">
                <div class="code-promo">
                    <input type="text" placeholder="Code promo" class="input-promo">
                    <button class="btn-valider">Valider</button>
                </div>
                <div class="total-final">           
                        <p>Total Produits : <span>{{.AllCart}}€</span></p>
                    <p>Total Livraison : <span>0,00 €</span></p>
                    <p><strong>Total : {{.AllCart}}€</strong></p>
                    <button class="btn-commander">Valider votre commande</button>
                </div>
            </div>
        </section>
        
    </main>
</body>
{{end}}