{{ define "title" }}Page d'Accueil{{ end }} {{ define "content" }}
<body>
  <h1 class="hello">Bonjour, {{ .Username}} !</h1>
  

  <div class="main-content-container">
    <!-- Section principale gauche -->
    <div class="left-section">
      <span>LOCATION E-BIKES</span>
      <p>
        Conduisez dans la ville avec joie et confort, pour les véritables
        amoureux d'aventure.
      </p>

      {{if eq .Username "Biker"}}
      <a href="/register" class="cta-button">Commencer Maintenant</a>
      <div class="app-download">
        <p>Téléchargez l'application</p>
        <a href="#"
          ><img src="/static/images/playstore.png" alt="Play Store"
        /></a>
        <a href="#"
          ><img src="/static/images/appstore.png" alt="App Store"
        /></a>
      </div>
      {{else}}
      <div id="recent-bike"></div>
      {{end}}
    </div>

    <!-- Image du vélo au centre -->
    <div class="bike-image">
      <img src="/static/images/bike1.png" alt="eBike image" />
    </div>

    <!-- Informations supplémentaires à droite -->
    <div class="right-section">
      <div class="info-box">
        <h3>Réservation rapide</h3>
        <p>Louez un vélo directement depuis l'application.</p>
      </div>
      <div class="info-box">
        <h3>Prix abordable</h3>
        <p>Balades à partir de 1,99 € par heure.</p>
      </div>
      <div class="info-box">
        <h3>Différents modèles</h3>
        <p>Des vélos pour les amateurs et les passionnés.</p>
      </div>
    </div>
  </div>
</body>
{{ end }}
