<!-- templates/index.html -->
{{ define "content" }}
<div class="right-item">
    <h1>LOCATION </br>EBIKE</h2>
    <p>Bienvenue sur notre page d'accueil.</br> Ici, vous trouverez des informations</br> sur nos services et notre entreprise.</p>
    <input type="button" value="Commencer Maintenant" />
</div>

<div align="center">
    <img  src="/static/images/bike1.png" alt="eBike image" class="bike1-img">
</div>
<div class="left-item" >
    <div>
        <p>Reservation rapide</p>
        <p>Prix abordable</p>
        <p>Différent modèle</p>
    </div>
</div>
{{ end }}
