<nav class="navbar">
  <div class="navbar-content">
    <div class="logo" id="logo">
      <a href="/">
      <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <circle cx="12" cy="12" r="10"/>
        <path d="M12 12l4-4m-4 4l-4-4m4 4v8"/>
      </svg>
      ZK12 E-BIKES
      </a>
    </div>
    <div class="nav-links">
      {{if eq .Session.Role "admin"}}
          <a href="/admin">Admin-Panel</a>
      {{end}}
      <a href="/bike-list" id="href-bike-list">Vélos</a>
      <a href="/price" id="href-price">Tarifs</a>
      <a href="/location" id="href-location">Emplacements</a>
      <a href="/contact" href="href-contact">Contact</a>
      <div class="user-actions">
        <a href="/cart" class="cart-button">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="9" cy="21" r="1"/>
            <circle cx="20" cy="21" r="1"/>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"/>
          </svg>
          <span class="cart-count">{{.Session.Cart}}</span>
        </a>
        <div class="cart-dropdown">
          <!-- Contenu du panier ici -->
          <ul class="cart-items">
            {{range .Session.BikeShop}}
              <li class="cart-item">
                <span class="bike-type">{{.BikeType}}</span>
                <span class="bike-price">{{.Price}}€</span>
                <span class="bike-quantity">x{{.Total}}</span>
              </li>
            {{end}}
            <li class="cart-total">
              <strong>Total :</strong> {{.Session.Cart}} articles
            </li>
          </ul>
          
        </div>
        {{if eq .Username "Biker"}}
            <a href="/login" class="profile-button">
        {{else}}
            <a href="/profile" class="profile-button">
        {{end}}
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
            <circle cx="12" cy="7" r="4"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
